# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Denote all files that are truly binary and should not be modified.
ExternalBin/elastix/linux/lib/* binary
ExternalBin/elastix/linux/bin/* binary
ExternalBin/elastix/mac/lib/* binary
ExternalBin/elastix/mac/bin/* binary
ExternalBin/elastix/windows/* binary